.wrapper {
  /* flex-container */
  display: flex;
  /* main axis */
  justify-content: space-around;
  /* cross axis */
  align-items: flex-start;
  height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
  background: peru;
  color: white;
}