.wrapper {
  display: flex;  /* flex-container */
  flex-direction: column;
  justify-content: space-around;  /* main axis */
  align-items: center;  /* cross axis */
  height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
  background: peru;
  color: white;
}